body
{
    background-color: #EDE4B9 !important;
}

#title-bar-logo
{
    font-size: 15pt;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 5px;
    line-height: 28px;
    float: right;
}

#title-bar
{
    font-size: 15pt;
    padding-left: 10px;
    padding-top: 5px;
    line-height: 28px;
    float: left;
}

.row-fluid.outerpad
{
    width: 97%;
    margin: auto;
}

.boxy
{
    border-radius: 5px;
    background-color: #CDC1C5;
    border: 1px solid #BDB1B5;
    padding: 5px;
    margin-bottom: 5px;
    height: 95%;
}

.boxy-header
{
    margin-top:    5px;
    height: 64px;
    /* margin-bottom: 40px; */
    font-size:     15pt;
    font-weight:   bold;
}

.boxy-content
{
    overflow-y:      scroll;
    overflow-x:      hidden;
/*    text-overflow: ellipsis; */
}

.boxy-logo
{
    float: right;
}

#songkick
{
    overflow-y: hidden;
}

#twitter
{
    overflow-y: hidden;
}
