@font-face {font-family: octin; src: url('../fonts/octin_spraypaint_free.ttf');}

body
{
    background-color: #E0E0E0 !important;
    font-family: "Lucida Grande" !important;
    background-image: url(../img/background.jpg);
    background-repeat: repeat-x;
}

#title-bar-logo
{
    font-size: 18pt;
    padding-right: 10px;
    padding-top: 5px;
    line-height: 28px;
    float: right;
    font-family: octin;
    color: #E0E0E0;
}

#title-bar
{
    font-size: 18pt;
    padding-left: 10px;
    padding-top: 5px;
    line-height: 28px;
    float: left;
    font-family: octin;
}

#title-bar a
{
    color: #333;
    text-decoration: none;
    background-image: none;
    padding-right: 0px;
}

#title-bar a:hover
{
    border-bottom: 1px dotted black;
}

.row-fluid.outerpad
{
    width: 97%;
    margin: auto;
}

a
{
    padding-right: 10px;
    background-image: url('../img/external_link-tiny.png');
    background-repeat: no-repeat;
    background-position: center right;
    display: inline-block;
}

.boxy
{
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    height: 95%;
    background-image: url(../img/boxy-background.png);
    background-repeat: repeat-x;
}

.boxy a
{
    color: #CC6633; 
}
.boxy a:hover
{
    color: #993333; 
}


.boxy-header
{
    margin-top:    10px;
    height: 64px;
    font-size:     15pt;
    color: #330033;
    font-family: octin;
}

.boxy-content
{
    overflow-y:      scroll;
    overflow-x:      hidden;
}

.boxy-logo
{
    float: right;
}

.boxy-heading
{
    font-weight:   bold;
}

#musicmetric-pop table
{
    margin-left:    10px;
    border-spacing: 10px 0px;
    border-collapse: separate;
}

#musicmetric-geo ul
{
    list-style-type: none;
}

#twitter, #musicmetric
{
    overflow-y: hidden;
}
