body
{
    background-color: #EDE4B9 !important;
    font-family: "Lucida Grande" !important;
}

#title-bar-logo
{
    font-size: 15pt;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 5px;
    line-height: 28px;
    float: right;
}

#title-bar
{
    font-size: 15pt;
    padding-left: 10px;
    padding-top: 5px;
    line-height: 28px;
    float: left;
}

#title-bar a
{
    color: #333;
    text-decoration: none;
    background-image: none;
    padding-right: 0px;
}

#title-bar a:hover
{
    border-bottom: 1px dotted black;
}

.row-fluid.outerpad
{
    width: 97%;
    margin: auto;
}

a
{
    padding-right: 10px;
    background-image: url('../img/external_link-tiny.png');
    background-repeat: no-repeat;
    background-position: center right;
    display: inline-block;
}

.boxy
{
    border-radius: 5px;
    background-color: #CDC1C5;
    border: 1px solid #BDB1B5;
    padding: 5px;
    margin-bottom: 5px;
    height: 95%;
}

.boxy-header
{
    margin-top:    5px;
    height: 64px;
    /* margin-bottom: 40px; */
    font-size:     15pt;
    font-weight:   bold;
}

.boxy-content
{
    overflow-y:      scroll;
    overflow-x:      hidden;
/*    text-overflow: ellipsis; */
}

.boxy-logo
{
    float: right;
}

.boxy-heading
{
    font-weight:   bold;
}

#musicmetric-pop table
{
    margin-left:    10px;
    border-spacing: 10px 0px;
    border-collapse: separate;
}

<<<<<<< HEAD
#musicmetric-geo ul
{
    list-style-type: none;
}

#songkick, #twitter, #musicmetric, #youtube
{
    overflow-y: hidden;
}
