#title-bar-logo
{
    font-size: 15pt;
    font-weight: bold;
    float: right;
    padding-right: 5px;
    padding-top: 5px;
}

#title-bar
{
    font-size: 15pt;
    padding-left: 5px;
    padding-top: 5px;
}

.boxy
{
    border-radius: 5px;
    background-color: #ccc;
    padding: 10px;
    margin-bottom: 5px;
    height: 99%;
}

.boxy-header
{
    margin-top:    5px;
    margin-bottom: 40px;
    font-size:     15pt;
    font-weight:   bold;
}

.boxy-content
{
    overflow:      hidden;
    text-overflow: ellipsis;
}

.boxy-logo
{
    float: right;
}

.boxy-heading
{
    font-weight:   bold;
}

#musicmetric table
{
    margin-left:    10px;
    border-spacing: 10px 0px;
    border-collapse: separate;
}

#songkick
{
}

#twitter
{
    overflow: hidden;
}
